name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {contents: read}

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: pnpm/action-setup@f2b2b233b538f500472c7274c7012f57857d8ce0
        name: Install pnpm
      - name: Install Node.js
        uses: actions/setup-node@5e2628c959b9ade56971c0afcebbe5332d44b398
        with:
          node-version: 22
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm dev:prepare
      - run: pnpm prepack
      - run: pnpm lint
