name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {contents: read}

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - uses: pnpm/action-setup@f2b2b233b538f500472c7274c7012f57857d8ce0
        name: Install pnpm
      - name: Install Node.js
        uses: actions/setup-node@13427813f706a0f6c9b74603b31103c40ab1c35a
        with:
          node-version: 22
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm dev:prepare
      - run: pnpm prepack
      - run: pnpm test:types
      - run: pnpm lint
